.section-part{
	margin-bottom: 2em;
}

.android-banner{
	margin-top: 1em;
}

@media screen and (max-width : 768px) {
	.img-banner {
		max-width: 300px;
	}
}

.no-decorate-list {
	padding: 0;
	list-style-type: none;
	color: #000000;
}

.icon img {
	display: inline;
	height: 1.5em;
	vertical-align: middle;
	padding: 0 0.5em;
}